.env
.mypy_cache
protein_dataset
path.env
old_code/gat/__pycache__
/.vscode
/gat_and_graph_sage/__pycache__
tests
/data_preparators/*.pt
gipa_wide_deep_model/__pycache__
/gipa_wide_deep_model/results/*.pt
/gipa_wide_deep_model/results/*.json
/gipa_wide_deep_model/results/new_results
ppi.sif.gz
gipa_wide_deep_model/log